.product_box {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-style: solid;
  border-width: 1px 1px 0 0;
}

.choosed {
  background-color: rgb(204, 180, 74, .8);
}

.product_name {
  flex-basis: 78%;
  word-break: break-word;
  padding: 4px;
}

.product_price {
  background-color: rgb(174, 181, 187, .6);
  flex-basis: 22%;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 4px;
}

.less_rate {
  background-color: rgba(38, 173, 45, 0.747);
}

.higher_rate {
  background-color: rgba(197, 38, 38, 0.767);
}